version 5.216.0

source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core >= 4.7.2
nuget Feliz
nuget Fable.Core
nuget Fable.DateFunctions
nuget Feliz.CompilerPlugins prerelease


group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.Core.Target = 6.0.0-alpha004
    nuget Fake.DotNet.Cli = 6.0.0-alpha004
    nuget Fake.IO.FileSystem = 6.0.0-alpha004

group Docs
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core >= 4.7.2
    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Feliz.Router
    nuget Feliz.CompilerPlugins prerelease
