version 5.216.0

source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core
nuget Feliz
nuget Fable.Core
nuget Fable.DateFunctions
nuget Feliz.CompilerPlugins prerelease
group Build
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Target
    nuget Fake.IO.FileSystem
    nuget Fake.Core.ReleaseNotes

group Docs
    source https://api.nuget.org/v3/index.json
    storage: none
    nuget FSharp.Core
    nuget Fable.Core
    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Feliz.Router
    nuget Feliz.CompilerPlugins prerelease
